.masthead {
	height: 30vh;
	min-height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.topics-list
{
	position:relative;right:20px;
	color:gray;
}
.latest-updates a{
	text-decoration: none;
	color:#007BFF !important;
}
.latest-updates a:hover{
	color:orange !important;
}
#home-txt
{
	position:relative;top:20px;
}
@media (max-width: 648px) {
	#home-img{
		float:right;width:300px;height: auto;margin-right:20px;margin-top:0px;
	}
	#home-txt{
		position:relative;top:80px;
	}
	.topic-div
	{
		margin-left:15%;
	}
}